body {
    margin: 0;
    width: 1219px; 
    font-family: 'Roboto', sans-serif;
}


.header {
    background-color: #007765;
    position: fixed;
    width: 1219px;
}
.logo {
    margin: 20px 0px 20px 55px ;
    display: inline-block;
    
    
}
.right {
    display: inline-block;
    margin: auto 54px auto 502px;
  
}
.right, .right a {
   
    color: white;
    text-decoration: none;
    font-size: 24px;
   
}
.content {
    background: url(img/image.png);
    background-size: cover;
    padding: 160px 0px;
}
.text {
    text-align: center;
    color: white;
    font-size: 70px
}

.problem {
    background-color: #EEEEEE;
    padding: 16px 54px 92px 55px;
}

.h {
    text-align: center;
    text-decoration: none;
    color: #007765;
    font-size: 64px;
}
p {
    margin: 16px 0px;
    color: #000;
    font-size: 32px;
}
.content2 {
    padding:  128px 163px 127px 163px;
    background: url(img/content2.png);
    background-size: cover;
}
.text2 {
   
    color: white;
    font-size: 42px;
    text-align: center;
}

.PiedPiper{
    background-color: #FFFFFF;
    padding: 48px 54px 92px 55px;
}

.PiedPiper img{
    float: left;
    margin: 16px 50px 0px 0px;
}

.team {
    background-color: #EEEEEE;
    padding: 46px 54px 94px 55px;
    
}
.employers {
    display: flex;
    flex-wrap: wrap;

    
    
}
.employer {
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
    
}




.name {
    color: #007765;
    font-size: 24px;
    text-align: center;
}
.jobTitle {
    color: #000;
    font-size: 18px;
    text-align: center;
    
}


.footer {
    background-color: #333333;
    padding: 48px 339px 64px 340px;
}
.footer div {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}